<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
</style>
.pagesidebar{display: none;}
a{
    /*color: #0C5ACC!important;*/
}
.material a:hover {
    -webkit-transform: none;
    transform: none;
    text-shadow: none;
    text-decoration: none;
}
.modal.show {
    -webkit-transform: none!important;
    transform: none!important;
}
body.modal-open {
	padding-right: 0;
}
.header-wrapper{box-shadow:none!important;}
#header_mobile_logo{display: block;}
#header_logo{display: none;}
.home-section.editor_desk .section-header {
   box-shadow: none;
}
.top-section.home-section.editor_desk .section-header {
    margin: 0px 0 30px 0;
}
ol.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: transparent;
    margin-bottom: 30px;
}
ol.breadcrumbs li {
    color: #5A5A5A;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: normal;
    text-decoration: underline;
}
.breadcrumbs li:after {
    padding-right: 5px;
    top: 2px;
    position: relative;
    padding-left: 5px;
    color: #000;
    content: "\f285";
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-size: 10px;
}
.breadcrumbs li:last-child::after{    visibility: hidden;}
ol.breadcrumbs li a {
    color: #5A5A5A!important;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: normal;
}

ol.breadcrumbs li a span{color: #5A5A5A;}
.top-section.home-section.editor_desk {
    padding: 0 2.5%;    margin-top: 10px;
}
#All.home-section.editor_desk {
    padding-top: 0;
}
.home-section .home-copy .section-header{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: flex;
    width: 100%;
}
.home-section.editor_desk .section-header {
    margin-bottom: 30px;
}
.home-section.infographics .section-header{
    padding-left: 2%;
    padding-right: 2%;
}
.featured_tablist {
    margin: 0px 0px 20px 0px !important;
    /*position: sticky;
    top: 91px;
    z-index: 99;*/
    /*background: #fff;*/
}
.featured_tablist.sticky-nav {
    position: fixed;
    top: 100px;
    z-index: 99;
    width: 100%;
    left: 0;
    right: 0;
    padding: 20px 2%;
    height: 80px;
    background: #fff;
}
.modal-body::-webkit-scrollbar {
  width: 7px;
}

.modal-body::-webkit-scrollbar-track {
  background: #F0F0F0;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #CBCBCB;
  /*border-right: 1px solid white;*/
}
/*.about-popup .modal-body::-webkit-scrollbar-track,
.about-popup .modal-body::-moz-scrollbar-track
{
    border-radius: 8px;
    background-color: #F5F5F5;
}

.about-popup .modal-body::-webkit-scrollbar, 
.about-popup .modal-body::-moz-scrollbar
{
    width: 7px;
    background-color: #f5f5f5;
}

.about-popup .modal-body::-webkit-scrollbar-thumb,
.about-popup .modal-body::-moz-scrollbar-thumb
{
    border-radius: 0px;
    background-color: #CBCBCB;
}*/
.tablist {
    margin: 0px 0 45px 0;
    padding: 0;
}
.featured_tablist li.active {
    border-bottom: 2px solid transparent !important;
}
.featured_tablist li {
        display: inline-block;
    color: #939393;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 10px;
    padding: 0 0 0px;
}
.featured_tablist li.active a, .featured_tablist li:hover.active a {
    border-color: transparent;
    border-bottom: 4px solid #5694FF!important;
    color: #000!important;
    font-weight: 700;
}
.featured_tablist li a {
        color: #939393!important;
    font-weight: 500;
    padding: .5rem .5rem;
}
.home-section.editor_desk .articles .img-artlce{justify-content: flex-start!important;}
.home-section.editor_desk .articles .image img{border-radius: 8px;}
.home-section.infographics{
    background-color: #F6F7F7;
    color: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-top: 55px!important;
    padding-bottom: 113px!important;

}
.videos{
    background-color: #000!important;
    color: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-top: 55px!important;
    padding-bottom: 113px!important; 
    border-bottom: 1px solid #707070;
}
.videos .course-card .video .play {
    position: absolute;
    bottom: 28%;
    left: 40%;
    width: auto;
    color: #fff!important;
}
.videos .course-card .video .play:before{
    width: 60px;
    content: "\f04b";
    height: 60px;
    display: inline-block;
    border: 2px solid #FFF;
    border-radius: 100%;
    font-family: "FontAwesome";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.videos .course-card {
    min-height: auto;
}
.videos .course-card .course-title p, .videos .course-card .course-title .sortDec{    
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #0C5ACC;
}
.semi_medium-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
    color: #000;
}
.home-section.infographics .semi_medium-title{ color:#000;}
.home-section.videos .semi_medium-title{color:#fff!important;}
.page-template-blog .view-all, .page-template-blog .view-all:hover {border-radius: 10px;background:transparent;border: 2px solid #000;color:#000!important;}
.home-section.videos .view-all {border: 2px solid #fff;color:#fff!important;}
.remove-leftpadding{padding: 0px 0px!important;padding-bottom: 0px !important;}
.home-section.editor_desk.remove-leftpadding .articles{background: #F6F7F7;}
.home-section.editor_desk.remove-leftpadding .articles:nth-child(2n+2){background: #fff;}

.home-padding{
    padding:50px 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.home-section.editor_desk .articles .date-time{color: #000}
.date{
    color: #000;
    font-size: 11px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    color: #000;
}
.course-copy .excerpt.thumb h3 {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.3;
    font-size: 18px;
}
.link-article .advertisement {
    margin-bottom: 20px;
}
.infographics .course-copy .course-footer .date-time {
    font-size: 11px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}
.infographics .course-copy .course-footer h2 {
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
    font-size: 18px;
}
.infographics .course-copy .course-footer h2 a{
    font-weight: 600;
    line-height: 1.3;
    color: #0C5ACC;
}
.full-advertisement{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
}
.full-advertisement .adwork_text {
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    display: block;
    color: #777;
    font-size: 10px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-card{min-height: 325px;}
@media (min-width: 768px){
    #header_mobile_logo{display: none;}
    #header_logo{display: block;}
}
@media (max-width: 1400px){
    .home-section {padding: 20px 35px!important;} 
    .remove-leftpadding{padding: 0px 0px!important;}
    .home-padding {padding: 50px 35px;}
    .top-section.home-section.editor_desk{padding: 0px 2%!important;}
}
@media (max-width: 1024px){
    .header-wrapper .header-copy {padding: 0 20px!important;}
    .home-section {padding: 20px 20px!important;} 
    .remove-leftpadding{padding: 0px 0px!important;}
    .home-padding {padding: 50px 20px;}
    .home-section.infographics .section-header, .home-section.videos .section-header {padding-left: 0!important;padding-right: 0!important;}
    .top-section.home-section.editor_desk{padding: 0px 20px!important;}
}
@media (max-width: 1024px) and (orientation: portrait), (max-width: 768px) and (orientation: landscape){
    .home-section.editor_desk .articles .featured{    width: 40.5%;}
    .home-section.editor_desk .articles .link-article {width: 100%;padding-top: 20px !important;}
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 767px) and (orientation: landscape){
    .home-section.editor_desk .articles .featured {margin-bottom: 25px;}
    .home-section.editor_desk .articles .featured,
    .home-section.editor_desk .articles .img-artlce,
    .home-section.editor_desk .articles .img-artlce .column,
    .home-section.editor_desk .articles .link-article {padding: 0 0px !important;width: 100%!important;}
    .home-section.editor_desk .articles .img-artlce .column .image{width: 40%;float: left;margin-bottom: 0px;}
    .featured_tablist.sticky-nav {position: relative;top: 0;padding: 0;height: auto;}
    .home-section.editor_desk .articles .featured .article-title{margin-bottom: 0px;}
    .tablist {margin: 0px 0 0px 0;}
    .featured_tablist li{font-size: 12px;}
    .featured_tablist li.active {border-bottom: 4px solid #5694FF!important;}
    .top-section.home-section.editor_desk {margin-top: 30px;}
    #All.home-section.editor_desk {padding-top: 0!important;}
    .semi_medium-title {font-size: 20px;}
    .home-section.editor_desk .articles .featured .article-title {font-size: 16px;}
    .home-section.editor_desk .articles .img-artlce .column:last-child{margin-bottom: 0px;}
    .home-padding {padding: 28px 20px;}
    .home-section .home-copy .section-header{padding-right: 0px;padding-left: 0;}
    .home-section.editor_desk .img-artlce .copy{padding-left: 20px;display: flex;flex-direction: column;}
}


/*----Editor listing CSS : Start----*/
.editor_desk_listing{
    display: flex;
    padding-top: 20px!important;
    background-color: #FAFAFA !important;
}

.content-left{
    width: 73%;
    float: left;
    padding-right: 59px;
}
.content-right{
    width: 27%;
    /* width: 372.5px; */
    float: left;
}
.top_article {
    margin-bottom: 30px;
    padding-right: 31px;
    width: 100%;
}
.content-left .course-wrapper .column {
    padding: 0px;padding-right: 31px;
}
.top_article .course-card {
    width: 100%;
    display: flex;
    min-height: auto;
    box-shadow: 0 2px 32px rgb(41 71 94 / 8%);
    border-radius: 8px;
    min-height: 476px;
}
.top_article .course-card .image {
    width: 90%;
}
.top_article .course-copy .excerpt.thumb h3 {
    line-height: 40px;
    font-size: 34px;
}
.top_article .course-copy .excerpt.thumb h3 a{
    color: #0C5ACC;
}
.top_article .course-copy .excerpt.thumb p {
    font-size: 18px!important;
    line-height: 27px!important;
    color: #000000!important;
    display: block!important;
    overflow: visible!important;
}
.top_article .course-card .course-copy{
    width: 54%;
}
.course-wrapper .course-copy .excerpt.thumb h3 {
    font-size: 20px;
    line-height: 26px;
     color: #0C5ACC; 
     /*overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;*/
}
.course-wrapper .course-copy .excerpt.thumb h3 a{
    color: #0C5ACC;
}
.course-wrapper .course-copy .excerpt.thumb p {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.course-card .course-copy .course-footer{
    flex-direction: column!important;
    align-content: flex-start!important;
}
.course-card .course-copy .course-footer .right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.link-article h3{
    font-size: 40px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
}
.link-article ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.link-article ul li:first-child {
    padding-top: 0;
}
.link-article ul li {
    border-bottom: 1px dotted #707070;
    padding: 23px 0;
}
.date-time {
    font-size: 11px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    color: #000;
}
.article-title {
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 0;
}
.article-title a, .article-title a:hover{
    color: #0C5ACC;
}
.course-card .course-copy .course-title{height: auto!important}
 .link-article .sidebar h3{margin-bottom: 25px;}
.link-article .sidebar ul li{padding-right: 30px;}
.owl-carousel .owl-prev {
    left: 0!important;
}
.owl-carousel .owl-next {
    right: 0!important;
}
/*-----Pagination CSS------*/
.pagination {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination ul{
    margin:0px;
    padding: 0px;
}
.pagination ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 15px;
        line-height: 40px;
    border-radius: 100%;
    text-align: center;
}
.pagination ul li a{
    font-size: 15px;
    line-height: 23px;
    color: #000;
}
.pagination line{stroke: #000000;}
.pagination ul li.active{background: #385DD9;font-weight: 700;}
.pagination ul li.active a{color: #fff;}
.pagination_arrow, .page-num{width:auto!important;}
.pagination_arrow.next{margin-right: 7px}
.pagination_arrow.prev{margin-left: 7px}
.category.category-videos .pagination ul li a{color: #fff!important;}
.pagination ul li a:hover{box-shadow: none!important;}
.testimonial_listing .pagination line,
.category.category-videos .pagination line{stroke: #fff;}
.testimonial_listing .pagination ul li.active,
.category.category-videos .pagination ul li.active{background: #ffffff;}
.category.category-videos .pagination ul li.active a,
.category.category-videos .pagination ul li.active a{color: #385DD9!important;}
/*-------Video listing CSS--------*/
.category.category-videos .editor_desk_listing, 
.category.category-videos .featured_tablist.sticky-nav{background: #000!important}
.category.category-videos .breadcrumbs li:after,
.category.category-videos .breadcrumbs li,
.category.category-videos ol.breadcrumbs li a,
.category.category-videos ol.breadcrumbs li a span,
.category.category-videos .semi_medium-title,
.category.category-videos .article-title a, 
.category.category-videos .article-title a:hover,
.category.category-videos .featured_tablist li.active a, 
.category.category-videos .featured_tablist li:hover.active a{color: #fff!important;}
.category.category-videos .featured_tablist li a {color: #8E8E8E!important;}
.category.category-videos figure.image {
    position: relative;
}
figure.image .play{display: none;}

.category.category-videos .play{
    display: block;
    position: absolute;
    bottom: 28%;
    left: 40%;
    width: auto;
    color: #fff;
}
.category.category-videos .play:before {
    width: 60px;
    content: "\f04b";
    height: 60px;
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 100%;
    font-family: "FontAwesome";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*----------Testimonial listing page CSS-----------*/
.testimonial_listing{
    display: flex;
    flex-direction: column;
    background-color: #605C5D!important;
    padding-top: 20px!important;
}

.testimonial_listing .breadcrumbs li:after,
.testimonial_listing .breadcrumbs li,
.testimonial_listing ol.breadcrumbs li a,
.testimonial_listing ol.breadcrumbs li a span,
.testimonial_listing .semi_medium-title,
.testimonial_listing .article-title a, 
.testimonial_listing .article-title a:hover,
.category-videos .link-article h3, 
.category-videos .date-time,
.testimonial_listing .pagination ul li a{color: #fff!important;}
.page-template-testimonial-listing .course-wrapper .course-copy .excerpt.thumb h3 {
    font-size: 18px;
    line-height: 22px;
    color: #000000; 
}
.page-template-testimonial-listing .course-wrapper .course-copy .excerpt.thumb h3 a{
    color: #000000; 
}
.testimonial_listing .course-wrapper{
        /*flex-direction: column;*/
}
.content-left .course-wrapper .top_article .column {
    width: 100%!important;
    padding-right: 0;
    margin-bottom: 0;
}


.testimonial_detail h5{
    font-size: 15px;
    line-height: 23px;
    color: #000000;
    margin: 19px 0 5px 0;
    font-weight: bold;
}
.testimonial_detail h6{
    font-size: 15px;
    line-height: 23px;
    color: #000000;
    font-weight: normal;
    margin: 0;
}
.testimonial_listing .course-card .image{position: relative;/*display: flex;align-items: center;*/}
.testimonial_listing .play {
    display: block!important;
    position: absolute;
    bottom: 28%;
    left: 40%;
    width: auto;
    color: #fff!important;
}
.testimonial_listing .play:before {
    width: 65px;
    content: "\f04b";
    height: 65px;
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 30px;
    font-family: "FontAwesome";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 3px 6px hsl(0deg 0% 0% / 60%);
}
.testimonial_listing .play .time {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin-left: 7px;
    color: #fff;
}
.testimonial_listing .top_article .play{
    bottom: 50%;
}
.testimonial_listing .top_article .play:before{
    /*width: 65px;height: 65px;border-radius: 100%;*/
}
.modal .testimonial_title p{
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.testimonial_listing .modal .testimonial_designation {
    font-size: 15px!important;
    line-height: 23px;
    color: #000000;
    font-weight: normal;
    margin: 0;
}
@media (max-width: 2048px){
    .content-left .course-wrapper .column {
        width: 33.33%!important;
    }
}
@media (max-width: 1024px) and (orientation: landscape){
    .content-left .course-wrapper .column {
        width: 50%!important;
    }
}
@media (max-width: 768px) and (orientation: portrait){
    .content-left, 
    .content-right,
    .top_article {width: 100%;padding-right: 0px;}
    .top_article .course-card .course-copy{width: 100%;}
    .top_article .course-card .image{width:100%;}
    .content-left .course-wrapper .column .course-card{min-height: 100%;display: flex; padding: 10px; }
    .course-card .image{width: 28%;}
    .content-left .course-card .course-copy{    width: 72%;}
    .content-left .course-wrapper .column {width: 100%!important;padding: 0;margin-bottom: 25px;}
    .top_article .course-card{    flex-direction: column;}
    .top_article .course-copy .excerpt.thumb h3 {line-height: 20px;font-size: 16px;}
    .course-wrapper .course-copy .excerpt.thumb h3 {font-size: 14px;line-height: 18px;}
    .course-card .course-copy .course-footer .right a {margin-left: 20px!important;}
    .link-article h3{font-size: 20px;line-height: 26px;/*height: 57px;overflow: hidden;*/}
    .article-title{line-height: 20px;font-size: 16px;}
    .course-wrapper .course-copy .excerpt.thumb p{font-size: 14px;line-height: 18px;/*height: 47px;overflow: hidden;*/}
}



