.dashboard_content{
    margin-top: 100px!important;
}
.dashboard_content .dashboard_header #item-header {
    background: #385DD9!important;
}
.dashboard_content .dashboard_header .dashboard-container {
    padding: 0px 2.5% 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dashboard_content .dashboard_header .breadcrumb {
    display: flex;
    width: 100%;
    background: none;
    padding: 20px 0px;
    margin-bottom: 0;
}
.dashboard_content .dashboard_header ol.breadcrumbs {
    padding: 0;
    margin: 0!important;
}
.dashboard_header .breadcrumb li, 
.dashboard_header .breadcrumb li a, 
.dashboard_header .breadcrumb li a span, 
.dashboard_header .breadcrumbs li:after {
    color: #fff!important;
}
.dashboard_header ol.breadcrumbs li {
    color: #5A5A5A;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: normal;
    font-weight: normal;
    text-decoration: underline;
}
.copy-left{
    width: 44%;
    display: flex;
    position: relative;
    padding-left: 55px;
}
.copy-left .Profile_details{
    padding-left: 20px;
    margin-left: 35%;
}
.copy-left #item-header-avatar {
    position: relative;
}
.copy-left #item-header-avatar a{
    position: absolute;
    left: 0;
    /* bottom: -20px; */
    width: 210px;
    height: 210px;
    border-radius: 100%;
    border: 5px solid #fff;
}
.copy-left #item-header-avatar img{
    border-radius: 100%;
}
.copy-left .Profile_details h3 {
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.copy-left .Profile_details h3 a{
    color: #fff;
    font-weight: 700;
}
.copy-left .Profile_details p {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    font-weight: 400;
}
.avtar-button{
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 33px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: flex;
    max-width: 205px;
    margin-top: 25px;
}
.avtar-button:hover{
    color: #fff;
}
.copy-right{
    width: 56%;
    display: flex;
}
.copy-right .myprofile_content h2{
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #fff;
}
.copy-right .myprofile_content .item-list-tabs{
    margin-top: 10px;background: transparent!important;
}
.copy-right .myprofile_content .item-list-tabs .flexMenu-popup li{
    max-width: 203px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    
    display: inline-flex;
    margin-right:2px;
    margin-bottom: 3px;
}

.copy-right .myprofile_content .item-list-tabs .flexMenu-popup li a{
    background: #fff;
    color: #000;
    padding:14px 25px;
    /*width: 203px;*/
    border-radius: 0;
    text-align: center;
}
.copy-right .myprofile_content .item-list-tabs .flexMenu-popup li.current a{
    background: #000!important;
    color: #fff!important;
    transform:none!important;
    text-shadow:none!important;
}
.copy-right .myprofile_content .item-list-tabs .flexMenu-popup li:hover a,
.copy-right .myprofile_content .item-list-tabs .flexMenu-popup li a:hover{
    background: #000!important;
    color: #fff!important;
}
.flexMenu-popup li.current, 
.flexMenu-popup li.selected{
    transform:none!important;
    text-shadow:none!important;
}
.flexMenu-popup li:first-child a{
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
}
.flexMenu-popup li:nth-child(5) a{
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}
.flexMenu-popup li#parent_dashboard-personal-li,
.flexMenu-popup li#school_dashboard-personal-li{
    display: none;
}
.dashboard_content .dashboard{
	background: #F9F9F9;  
}
.dashboard_content .dashboard .dashboard-container{
	padding: 89px 2.5% 30px;
}
.dashboard-tab{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}
.dashboard-tab .left-details{
    width: 24%;
}
.dashboard-tab .middle-details{
    width: 50%;
    margin-left: 47px;
}
.dashboard-tab .middle-details .dashboard-heading{
    font-size: 34px;
    line-height: 51px;
    font-weight: 700;
    color: #000;
}
.dashboard-tab button{
	background: #DCDCDC;
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: #909090;
	border-radius: 8px;
	padding: 12px 25px;
	border:0px;
    cursor: pointer;
    margin-right: 0px;
    width: 49%;
}
.dashboard-tab button.active{
	background: #000;
	color: #fff;
	font-weight: 700;
}
.dashboard-tabcontent {
	display: flex;
}
.dashboard-tabcontent .left-details{
	width: 24%;
}
.dashboard-tabcontent .middle-table{
	width: 50%;
}
.dashboard-tabcontent .right-details{
	width: 26%;
	padding-left: 30px;
}
.dashboard-tabcontent .left-details li {
    display: flex;
    /*float: left;*/
    width: 100%;
    border-bottom: 1px dotted #707070;
    background: 0 0;
    border-radius: 0px;
}
.dashboard-tabcontent .left-details .active li, 
.dashboard-tabcontent .left-details li.active, 
.dashboard-tabcontent .left-details li:hover {
    background: #fade3b;
    border-color: transparent;
    border-radius: 8px;
}
.dashboard-tabcontent .left-details a{
	color: #000;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: flex;
    padding: 20px 8px 20px 10px;
}
.dashboard-tabcontent .left-details .icon{
	width: 80px;
	height: 80px;
    display: inline-block;
    height: auto;
    float: left;
}
.dashboard-tabcontent .left-details .icon img{
	border-radius: 8px;
}
.dashboard-tabcontent .left-details .copy-detail{
    padding-left: 15px;
}
.dashboard-tabcontent .left-details li.active h4, 
.dashboard-tabcontent .left-details li:hover h4 {
    font-weight: 700!important;
}
.dashboard-tabcontent .left-details li h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    padding-left: 0px;
    font-family: Poppins;
}
.middle-table .dataTables_wrapper {
    padding: 30px 30px;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 12px rgb(41 71 94 / 10%);
    border-radius: 8px;
    margin-left: 47px;
    margin-right: 30px;
}
.user_rank td{
	letter-spacing: 0.8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #000;
}
.user_rank td.right-space{padding-right: 20px;}
.dataTables_wrapper table {
    width: 100%;
    border-collapse: collapse;
    display: inline-table !important;
}
.dataTables_wrapper thead {
    background: #D5EBFF;
    border-bottom: 1px dotted #000;
    height: 60px;
    
}
.dataTables_wrapper table thead th {
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    color: #000;
    border: 0;
    padding: 10px 5px 0;
    vertical-align: middle;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.dataTables_wrapper thead, 
.postbox.course_info .dataTables_wrapper tbody{

}
.dataTables_wrapper table thead tr{
    position: relative;
}
.dataTables_wrapper table tbody tr{
    border-bottom: 1px dotted #707070;
    position: relative;
}
.dataTables_wrapper table tbody tr:first-child {
    background: #d5ebff;
}
.dataTables_wrapper table thead tr:after,
.dataTables_wrapper table tbody tr:after {
    content: "";
    display: inline-block;
    width: 113px;
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 2px;
    margin-bottom: 0;
    background: #000;
}
.dataTables_wrapper table thead tr:after{bottom: -1px;}
.dataTables_wrapper table tbody td {
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: #000;
    border: 0;
    padding: 15px 5px;
    vertical-align: middle;
}
.dataTables_wrapper table tbody td:last-child{
    font-weight: 700;
}
.right-details h2 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    line-height: 33px;
    border-bottom: 1px dotted #707070;
    padding-bottom: 10px;
}
.middle-table table .circle {
    width: 46px;
    height: 46px;
    background: #fff;
    color: #000;
    border-radius: 100px;
    text-align: center;
    display: block;
    vertical-align: middle;
    line-height: 46px;
}
.right-details li {
    border-bottom: 1px dotted #707070;
    display: block;
    width: 100%;
    padding: 10px 0;
    float: left;
    position: relative;
}
.right-details li:after {
    content: "";
    background: #000;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
    width: 90.38px;
    right: 0;
}
.right-details li .copy-content{
	width: 75%;
    float: left;
}
.right-details li .copy-content p {
    font-size: 11px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0;
    word-break: break-word;
    color: #000;
    letter-spacing: 0.8px;
}
.right-details li .copy-content h5 {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 20px;
    margin: 5px 0 1px;
    word-break: break-word;
    font-weight: 700;
    color: #000;
}
.right-details li .copy-content span.light {
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    word-break: break-word;
    font-family: Poppins!important;
    color: #000;
}
.right-details li .icon{
	width: 25%;
    height: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.right-details li .img-gold {
    position: relative;
    top: -11px;
}
body.dashboard .profile-heading,
body.parent_dashboard .profile-heading{
    display: none;
}
.myprofile_content .flexMenu-viewMore.flexMenu-allInPopup, 
.myprofile_content .flexMenu-popup 
{
    display:block!important;
    width: 100%!important;
    position: relative!important;
    background: transparent!important;
}
.myprofile_content .flexMenu-viewMore.flexMenu-allInPopup a[title="Open/Close Menu"]
{display: none!important}
@media (max-width: 1366px) and (min-width: 1280px){
    .copy-left {width: 46%;}
    .copy-left #item-header-avatar a {width: 190px;height: 190px;bottom: -60px;}
    .copy-left .Profile_details {margin-left: 38%;}
    .copy-right {width: 54%;}
    .copy-right .myprofile_content .item-list-tabs .flexMenu-popup li {font-size: 17px;}
    .copy-right .myprofile_content .item-list-tabs .flexMenu-popup li a{padding: 14px 15px;}
} 
@media (max-width: 1199px) and (min-width: 1025px){
    .copy-left{padding-left: 0;}
}
@media (max-width: 1024px) and (min-width: 320px){
    .dashboard_content .dashboard_header .dashboard-container {padding: 0px 20px 30px;}
}
@media (max-width: 1023px) and (min-width: 320px){
    .dashboard-tabcontent .middle-table{order: 3;}
    .copy-left { width: 100%; padding-left: 0;}
    .copy-left #item-header-avatar a {
        position: relative;
        left: 0;
        bottom: 0;
        width: 90px;
        height: 90px;
        display: block;
    }
    .copy-left .Profile_details{
        margin-left: 0;
    }
    .copy-left .Profile_details h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 2px;
    }
    .copy-left .Profile_details p {
        font-size: 12px;
        line-height: 18px;
    }
    .avtar-button {
        font-size: 10px;
        line-height: 16px;
        max-width: 155px;
        margin-top: 20px;
    }
    .copy-right {
        margin-top: 30px;
        width: 100%;
    }
    .copy-right .myprofile_content h2 {display: none;}
    .copy-right .myprofile_content .item-list-tabs li A {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 15px;
        display: inline-flex;
        border-radius: 8px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .dashboard_content .dashboard .dashboard-container {padding: 20px 20px 20px;}
    .dashboard-tab button{border-radius: 0px;width: 49%;padding: 10px 15px;}
    .dashboard-tab button:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .dashboard-tab button:last-child{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .dashboard-tabcontent,
    .dashboard-tab {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .dashboard-tabcontent .left-details,
    .dashboard-tabcontent .middle-table,
    .dashboard-tabcontent .right-details,
    .middle-table .dataTables_wrapper,
    .dashboard-tab .left-details
    {
        width: 100%;
        margin:0px!important;

    }
    .dashboard-tab .middle-details{
        width: 100%;
        margin-left:0px!important;
    }
    .dashboard-tabcontent .right-details {
        padding-left: 0px;    padding-top: 20px;
    }
    .dashboard-tab .middle-details {margin-top: 25px;}    
    .dashboard-tab .middle-details .dashboard-heading {font-size: 20px;line-height: 21px;}
    #top_rankers {
        display: flex;
        border-bottom: 1px dotted #707070;
        padding-top: 10px;
        width: 100%;
    }
    .right-details li {
        border-bottom: 0;
        border-right: 1px dotted #707070;
        display: inline-flex;
        width: 33%;
        padding: 10px 0;
        padding-left: 9px;
        float: left;
        position: relative;
        align-items: flex-start;
        align-content: space-between;
    }
    .right-details li:first-child{padding-left: 0px;}
    .right-details li:last-child{border-right:0;}
    .right-details li .copy-content h5 {font-size: 14px;line-height: 18px;}
    .right-details li .copy-content span.light {font-size: 12px;line-height: 18px;}
    .right-details li .copy-content {
        width: 75%;
        float: left;
        padding-right: 15px;
    }
    .right-details li .icon {
        width: 20.94px;
        height: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        position: relative;
    }
    .right-details li .img-gold {
        position: absolute;
        top: 0;
    }
    .right-details li:after{display: none}
}