.school-dashboard .dashboard_accountinfo{
    padding: 0;
}
.custom_datatable {
	padding: 0px;
    position: relative;
}
.custom_datatable span{
	width: unset;
}
.custom_datatable input[type=search], .wp-core-ui select {
	line-height: 1;
}
.wp-core-ui select {
	width: 50px;
}

.custom_datatable td {
	border-bottom: 1px solid #ccc;
}
.table-search {
	font-weight: normal;
}
.datatable-fix {
	width: 100%;
	min-width: 100% !important;
	margin-left: 0;
}

.datatable-fix .vibe-reports-sidebar {
	margin-left: 0;
	width: 24%;
}

.datatable-fix .vibe-reports-main {
	padding: 40px 0;
}


 .dataTables_wrapper img {
    height: 50px;
    /* max-width: 100%; */
    width: 51px;
}



.school_studTotal {
    background: #f8f8f8;
    padding: 30px 0px;
    display: flex;
}
.school_studTotal .container {
    display: flex;
    align-items: center;
}
.total-left {
        width: 40%;
    float: left;
    display: flex;
    align-items: center;
}
.total-left .icon {
    width: 30%;
    display: inline-block;
    height: auto;
}
.total-left .school-name_total {
    width: 70%;
    display: inline-block;
    padding-left: 20px;
}
.total-left .school-name_total h4{
        font-size: 18px;
    line-height: 22px;
    color: #000;
}
.total-left .school-name_total h3{
	font-size: 25px;
    line-height: 30px;
    color: #000;
    margin-top: 5px;

}
.total-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.total-right ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.total-right ul li{
	padding-right: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.total-right ul li:after{
	content:'';
    border-right: 1px dotted #ccc;
    display: block;
    width: 1px;
    height: 75px;
    position: absolute;
    top: 0;
    right: 20px;
}
.total-right ul li:last-child::after{
	display: none;
}
.total-right ul li .number{
    font-size: 40px;
    font-weight: bold;
    color: #0C5ACC;
    line-height: 60px;
}
.total-right ul li h6{
	font-size: 18px;
    font-weight: normal!important;
    color: #000000;
    line-height: 19px;
    text-align: center;
}
.post-top {
    display: flex;
}
.postbox_left {
    width: 33%;
    float: left;
    display: flex;
    align-items: center;
}
.postbox_right {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input#myInputTextField{
	background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.707' height='25.707' viewBox='0 0 25.707 25.707'%3E%3Cg id='Group_153' data-name='Group 153' transform='translate(-1037 -30)'%3E%3Cg id='Ellipse_31' data-name='Ellipse 31' transform='translate(1037 30)' fill='none' stroke='%23000' stroke-width='2'%3E%3Ccircle cx='11.667' cy='11.667' r='11.667' stroke='none'/%3E%3Ccircle cx='11.667' cy='11.667' r='10.667' fill='none'/%3E%3C/g%3E%3Cpath id='Path_9' data-name='Path 9' d='M26,26l5.333,5.333' transform='translate(1030.667 23.667)' fill='%23000' stroke='%23000' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
	width:25px;
	height:25px;
	display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 85%;
    border: 0;
    padding-left: 40px;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}
input#myInputTextField::-webkit-input-placeholder {
    color: #939393;
    font-weight: 300
}
/* The container */
.cutom-checkbox {
  display: block;
  position: relative;
  padding-right: 16px;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cutom-checkbox .checkbox {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* align-content: center; */
    position: relative;
    font-size: 15px;
    color: #939393;
    font-weight: 300;
    padding-left: 22px;
}
/* Hide the browser's default checkbox */
.cutom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px !important;
    background-color: #fff;
    border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.cutom-checkbox:hover input ~ .checkmark {
  background-color: #000000;
}

/* When the checkbox is checked, add a blue background */
.cutom-checkbox input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cutom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cutom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cutom-checkbox .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select-sort, .select-class{
	border: 1px solid #000!important;
    padding: 0;
    margin-right: 15px;
    -webkit-appearance: none;
    width: 195px;
    height: 37px;
    outline: 0;
    color: currentColor!important;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.select-sort{
    width: 150px;
}
.select-sort select{
    background: url("../images/active-drop.png") no-repeat!important;
    background-position: 94%!important;
    width: 100%!important;
}
.select-sort .title, .select-class .title {
        display: flex;
    flex-direction: row;
    color: #939393;
    margin-right: 5px;
    padding: 0;
    float: left;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding-left: 15px;
}
.custom_datatable select{
    /*border: 1px solid #000 !important;*/
    background: #fff;
    padding: 5px 15px;
    float: left;
    font-weight: normal;
    color: #000;
    height: auto;
    font-size: 15px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.414' height='5.414' viewBox='0 0 9.414 5.414'%3E%3Cg id='Group_342' data-name='Group 342' transform='translate(-348.793 -47.793)'%3E%3Cline id='Line_61' data-name='Line 61' x2='4' y2='4' transform='translate(349.5 48.5)' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='1'/%3E%3Cline id='Line_62' data-name='Line 62' x1='4' y2='4' transform='translate(353.5 48.5)' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;
    background-position: right center;
}
.custom_datatable select option {
    
}
.dataTables_wrapper {
    position: initial;
    padding: 20px 0 0 0;
}
.dataTables_wrapper .dt-buttons{
    position: absolute;
    top: 0;
    right: 0;
}
.dataTables_wrapper .dt-button {
    background: #fff;
    border: 1px solid #000 !important;
    border-radius: 0;
    width: 185px;
    height: 37px;
    color: #000;
    font-weight: 300;
    text-align:right;
    display: flex;
    align-items: center;
    margin: 0px;
    background: url(../images/download.svg) no-repeat right center;
    background-position: 94%;
    top: 0px;
}

.dataTables_wrapper .dt-button.btn:not(:disabled):not(.disabled).active, 
.dataTables_wrapper .dt-button.btn:not(:disabled):not(.disabled):active{
    background: url(../images/download.svg) no-repeat right center;
    border: 1px solid #000 !important;
    color: #000;
    box-shadow: none!important;
    background-position: 94%;
}
.dataTables_wrapper .dt-button span {
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.glyphicon-download-alt:before {
    display: none;
}
.postbox.course_info .dataTables_wrapper table {
    width: 100%;
    border-collapse: collapse;
    display: inline-table !important;
}
.postbox.course_info .dataTables_wrapper thead {
    background: #D5EBFF;
    border-bottom: 2px solid #000;
    height: 60px;
    
}
.postbox.course_info .dataTables_wrapper table thead th {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
    border: 0;
    padding: 10px 5px;
    vertical-align: middle;
}
.postbox.course_info .dataTables_wrapper thead, 
.postbox.course_info .dataTables_wrapper tbody{

}
.postbox.course_info .dataTables_wrapper table tbody tr{
    border-bottom: 1px dotted #707070;
    position: relative;
}
.postbox.course_info .dataTables_wrapper table tbody tr:after {
    content: "";
    display: inline-block;
    width: 72px;
    position: absolute;
    right: 0;
    bottom: -2px;
    height: 2px;
    margin-bottom: 0;
    background: #000;
}
.postbox.course_info .dataTables_wrapper table tbody td {
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    color: #000;
    border: 0;
    padding: 25px 5px;
}
.mobile_view{display: none!important;}
.postbox.course_info .dataTables_wrapper .dataTables_paginate {
    float: inherit;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postbox.course_info .dataTables_wrapper .dataTables_paginate .paginate_button{
    background: #fff;
    border-color: #fff;
    transform: none;
    color: #000;
    font-weight: 300;
    text-shadow: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    min-width: auto;
    padding: 0;
    margin-left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    float: left;

}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #d5ebff!important;
    border-color: #d5ebff!important;
    font-weight: bold!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.first,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.last{
    width: auto!important;
    color: transparent!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.first{
    background:url('../images/double_arrow-prev.svg') center no-repeat!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous{
    background:url('../images/page-prev.svg') center no-repeat!important;
    margin:0px 15px 0px 5px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{
    background:url('../images/page-next.svg') center no-repeat!important;
    margin:0px 5px 0px 15px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.last{
    background:url('../images/double_arrow-next.svg') center no-repeat!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
 {
    display:none!important;
 }
@media (max-width: 1366px) and (min-width: 768px){
    .postbox_left {width: 26%;}
    .postbox_right {width: 75%;}
}
@media (max-width: 1023px) and (min-width: 768px){
    .select-sort, .select-class{margin-right: 8px;width: 170px;}
    .select-sort{width: 135px;}
    .dataTables_wrapper .dt-button span{display: none}
    .dataTables_wrapper .dt-button{width: 31px;background-position: center;}
}
@media (max-width: 767px) and (orientation: portrait), (max-width: 767px) and (orientation: landscape){
    .school_studTotal, .school_studTotal .container {flex-direction: column;}
    .total-left, .total-right{width: 100%;}
    .total-left .school-name_total h4 {font-size: 14px;line-height: 15px;}
    .total-left .school-name_total h3 {font-size: 16px;line-height: 25px;}
    .total-right {border-top: 1px dotted #ccc;padding-top: 10px;margin-top: 16px;}
    .total-right ul li {padding-right: 0px;}
    .total-right ul li .number {font-size: 25px;line-height: 35px;}
    .total-right ul li h6 {font-size: 13px;text-align: center;}
    .total-right ul li:after{right: 0;}
    .post-top {display: flex;flex-direction: column;}
    .postbox_left {width: 100%;}
    .postbox_right{display: block;width: 100%;}
    .select-sort, .select-class{width: 43%;margin-right: 10px;float: left;}
    .select-sort .title, .select-class .title, .custom_datatable select{font-size: 12px;padding: 5px 5px;}
    .custom_datatable select{font-size: 12px;padding: 5px 15px 5px 5px;}
    .select-sort .title, .select-class .title{padding-left: 5px;}
    /*.select-sort {width: 115px;}*/
    .dataTables_wrapper .dt-button{background-position: center;width: auto;}
    .dataTables_wrapper .dt-button span{display: none;}
    .cutom-checkbox .checkbox {margin: 20px 0px;padding-left: 30px;}
    .dataTables_wrapper { position: relative;}
    .mobile_view{display: block!important;line-height: 17px;font-weight: 500;margin-top:8px;}
    .mobile_hide{display: none!important;}
    .postbox.course_info .dataTables_wrapper table tbody td {font-size: 13px;line-height: 17px;}
    .postbox.course_info .dataTables_wrapper table thead th {font-size: 11px;text-transform: uppercase;}
    .postbox.course_info .dataTables_wrapper thead{height: 35px;}
    .postbox.course_info .dataTables_wrapper table tbody tr:after{    width: 64px;}
    .dataTables_wrapper .dt-buttons{top: -37px;}
}
@media (max-width: 380px) and (orientation: portrait), (max-width: 380px) and (orientation: landscape){
    .dataTables_wrapper .dt-buttons{position: relative;top: 0px;margin-bottom: 20px;}
}