/*--------------------------------------------------------------
# Custom Css
--------------------------------------------------------------*/
#vibebp_login_wrapper{display: none;}
p{font-family: 'GT-Walsheim-Pro'!important;}
.ahref, .error, .link, .reply a{text-transform: initial!important;}
.home-page #header { background: #d5ebff!important;}
.home-page #header.header-scrolled{background: #fade3b!important;}
.elementor-section.elementor-section-boxed > .elementor-container {max-width: 1088px!important;}
/*.home-page .hero{padding-top: 29px;}*/
/*.hero-list .hero-card h6, .hero-list .hero-card h5{margin: 0px!important;}*/
.home-page .left-menu .navbar li.current_page_item a {
    color: #000!important;
}

.middle-menu { text-align: center;}
nav li {margin-left: 0!important;}
.left-menu nav li {margin-right: 23px!important;padding: 0px;    cursor: pointer;}
.left-menu nav li:last-child {margin-right: 0px!important;}
.left-menu nav li.current_page_item{background: #000;}
.course .left-menu nav li.current_page_item a{color: #fff!important;}
.sleek nav>.menu>li>a {color:#000!important;padding: 0px 6px 0px 0px!important;margin: 0 0px !important;text-transform: initial!important;font-size: 15px!important;
    font-weight: bold!important;}
nav .menu li:last-child a{/*padding-right: 0px!important;*/}
.navbar li a:hover {
    -webkit-transform: none!important;
    transform: none!important;
}
.navbar a i {
    font-size: 15px!important;
    line-height: 0;
    margin-left: 0px!important;
}
.border-menu:after{top: 1px!important}
.custom-dropdown{background: #000;}
.home-page .custom-dropdown{background: transparent; }
.custom-dropdown:before {
    content: "\f282";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    color: #fff;
    top: 0px;
    position: relative;
    display: none;
}
.home-page nav .menu li.custom-dropdown a, .home-page .custom-dropdown:before{
    color: #000!important;
}
.left-menu ul li.custom-dropdown a:after {
    content: '';
    border-bottom: 1px solid #fff;
    width: 33px;
    height: 1px;
    position: absolute;
    bottom: 4px;
    left: 9px;
}
.left-menu ul li.current_page_item.custom-dropdown a:after{
    border-bottom: 1px solid #fff;
}
.home .left-menu ul li.custom-dropdown a:after{border-bottom: 1px solid #707070;}
#buddypress .course.dir-list {padding: 0px;}
#header .container{
        align-items: center!important;
    display: flex;
}
#title .pagetitle {padding-top: 0!important;}
.breadcrumbs li{
    margin-right: 0!important;
}
.breadcrumbs li+li:before {
    content: ""!important;
    margin: 0px!important;
    padding-right: 7px!important;
    padding-left: 11px!important;
    color: #0c5acc!important;
    font-size: 11px!important;
    display: none;
}
.breadcrumbs li a {
    color: #0c5acc!important;
    font-size: 11px;
    text-transform: capitalize!important;
    line-height: 1.36;
    letter-spacing: normal;
    font-weight: bold!important;
    
}
ol.breadcrumbs li+li:before {
    content: ""!important;
    margin: 0px!important;
    padding-right: 7px!important;
    padding-left: 11px!important;
    color: #3a79d5!important;
    font-size: 11px!important;
    display: none;
}
ol.breadcrumbs li a {
    color: #3a79d5!important;
    font-size: 11px;
    text-transform: capitalize!important;
    line-height: 1.36;
    letter-spacing: normal;
    font-weight: bold!important;
    
}

ol.breadcrumbs li {
    color: #3a79d5!important;
    font-size: 11px;
    text-transform: capitalize!important;
    line-height: 1.36;
    letter-spacing: normal;
    font-weight: bold!important;
    
}
.fixed_banner ol.breadcrumbs li, .fixed_banner ol.breadcrumbs li a{color: #fff!important}
.background-breadcrumbs ol.breadcrumbs li, 
.background-breadcrumbs ol.breadcrumbs li a,
.woocommerce-cart ol.breadcrumbs li,
.woocommerce-cart ol.breadcrumbs li a,
.woocommerce-checkout ol.breadcrumbs li,
.woocommerce-checkout ol.breadcrumbs li a
 {
    color: #0c5acc!important;
}
.course-listing{
    background: #fade3b !important;
    padding-bottom: 30px !important;
    background-size: cover;
}
.breadcrumbs h1 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #0c5acc;
    margin: 10px 0px;
}
.breadcrumbs h5 {
    font-size: 40px;
    font-weight: normal!important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0c5acc;
}
#header{
    position: fixed;
    z-index: 9999;
    background: #fade3b;
    box-shadow: none;
padding: 15px 0;
}
.heading {
    margin: 0px!important;
    padding: 0px!important;
    /*font-weight: 600;*/
    border-bottom: 0px solid var(--border)!important;
}
.Popular-Courses .section-header{z-index: 9;background-color: transparent!important;box-shadow: none;}


.course-listing{
        margin-top: 0;
    padding: 0;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.material a:hover {
    -webkit-transform: none!important;
    transform: none!important;
    text-shadow: none!important;
}
.course #content {
    padding-top: 0;
}
.course #content #buddypress {
    margin-top: 0;
}
.elementor-56 .elementor-element.elementor-element-36abc6fa > .elementor-element-populated > .elementor-background-overlay {
    background-color:transparent!important;
    opacity: 1!important;
}
.Popular-Courses .courseitem, .Popular-Courses li .block   {
    float: left;
    padding: 17.5px 15px 19.5px 15px;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin-left: 5px;
    position: relative;
    margin-bottom: 20px;
}
.Popular-Courses li .block_media {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    float: left;
}
.Popular-Courses li .block_content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.Popular-Courses .block .postblock_cats {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 11px!important;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36!important;
    letter-spacing: 0.55px;
    text-align: left;
    color: #000000;
}
.Popular-Courses .block .postblock_cats a, .Popular-Courses .block a{color: #000!important;}
.Popular-Courses .block .block_content .block_title {
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000!important;
    margin: 15px 0px;
    display: block;
}
.Popular-Courses .block a{font-weight: bold!important;}
.Popular-Courses .block .block_content .block_desc {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.wplms-dashboard .widget.buddypress.widget {
    margin: 30px 80px!important;
}
.fixed_banner .content{
    background: none!important;
}
.fixed_banner ul li h6, .course-list span h6, .cv-detilslist span h6, .card h6, 
.instructor-detailsMini .profile-content h4, .instructor-detailsMini .profile-content h6
{margin: 0px!important;}
.course-fees .course_sharing, 
.right-details .course-button h6 .subs, 
.course_button .extra_details,
.course-fees span.amount+.subs,
.course-box .course_sharing
{display: none;}



.course-fees .course_button,
.course-fees a.course_button , 
.course-fees input.course_button,
.course-fees button.course_button 

 {
        padding: 12px 0px 12px 0px;
    background-color: #fbca00;
    width: 203px !important;
    font-size: 20px!important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #004135;
    width: auto;
    border-radius: 0;
    margin: 5px 0px 0px;
    float: left;
        border: 0px;
}
.course-fees .course_button a{color: #004135;font-weight: bold;}
.course-fees .course_button.progress_key_1,
.course-fees a.course_button.progress_key_1, 
.course-fees input.course_button.progress_key_1,
.course-fees button.course_button.progress_key_1,
.course-fees .course_button.progress_key_2,
.course-fees a.course_button.progress_key_2, 
.course-fees input.course_button.progress_key_2,
.course-fees button.course_button.progress_key_2
{
    background: #00D98E!important;
    color: #fff;
}
.course-fees .course_button.progress_key_3,
.course-fees a.course_button.progress_key_3, 
.course-fees input.course_button.progress_key_3,
.course-fees button.course_button.progress_key_3
{
    background: #FADE3B!important;
    color: #000;
}

.learing-goals .heading p, .heading h3,.infograph .heading h4, .testimonials .heading h4{ text-transform: initial;}
.share-icon a, .nav-tabs .nav-link.active{color: #000!important;}
.cv-detilslist span h6{    font-weight: normal !important;}
.card h5, .card h5 a{ color: #000000;font-weight: 500!important;}
.see-profilelink a{ color: #000000;font-weight: bold!important;}
.course-curriculum .card .time {
      font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.55px;
    text-align: left;
    color: #000;
}
.course-curriculum .card .time i{color: #000;margin-right: 5px;}
.about-details .pull-right {padding-left: 25px!important;}
.course section#title {
    margin-top: 0px!important;
    padding-top: 15px !important;
}
.right-details .course-button h6 .amount{font-size: 20px;}
.course-box .middle-details{padding-right: 15px;}
.dashboard_accountinfo .course-box .middle-details {padding-right: 75px;}
/*.right-details .course-button h6 .subs{display: block;}*/

.details-middle ul li .link:hover:after, #scrolltop.fix {
    display: none;
}
.infograph .content {padding: 28px 56px 20px 56px!important;}
.right-details .course-button h6 del .amount{    font-size: 15px;}
#searchdiv{    background: rgb(255 255 255 / 90%)!important;}
#searchdiv input[type=text] {border-bottom: 3px solid rgb(0 0 0)!important;}
#searchdiv>span {position: absolute;top: 0!important;right: 9%!important;}
#searchdiv>span:before, #searchdiv input[type=text]{    color: #000!important;}
.other-courses .list h4 a{color: #000;font-weight: bold;padding-right: 4px;}
.other-courses .list h3 a{color: #000;font-weight: bold;}
.other-courses .list h4 a:last-child{padding-right: 0px;}
.other-courses .list .session {padding: 15px 0px 25px 0px!important;}
.other-courses .list .session h6 .vicon{
    padding-right: 15px;
    float: left;
}
.other-courses .list .card{padding: 24px !important;padding-top: 0px !important;}
.other-courses .list .card:first-child {padding-left: 0px!important;}
.fixedmenu-tabs .nav-tabs>li.active>a{    border-color: transparent;}
.details-middle ul li .link a{    font-weight: bold;}
.details-left.fixed_banner .course_home_progress, .hide-progress .course_home_progress,.hide-search, .top-pagination #pag-top{
    display: none!important;
}
.the_course_button .button  {
    /*background: transparent!important;
    box-shadow: none!important;
    padding: 0!important;*/
}
.hover_share{position: relative;margin-top: 0px;}
.display_icon{
    display: none;
    background:#fff;
    padding: 15px;
    position: absolute;
        width: auto;
    left: -132px;
    box-shadow: 0px 1px 13px #00000047;
}
.hover_share:hover .display_icon{
    display: block;
}
.display_icon .a2a_kit a{
        margin-right: 5px;
}
.display_icon .a2a_kit a:last-child{
        margin-right:0px;
}
@media (min-width: 992px){
    .fixedmenu-tabs, .fixed_banner{z-index: 99!important;}
    .right-details .course-button{padding-top: 65px!important;}
    .dashboard_accountinfo .right-details .course-button {
        padding-top: 0px!important;
        margin-left: 0px!important;
        padding-left: 0px!important;
    }
    .dashboard_accountinfo .right-details .course-button a{margin-left:0px!important;}
}
@media (max-width: 991px){
    header.sleek #trigger {display: none!important;}
    .course-listing .pagetitle.breadcrumbs {padding-left: 0px !important;padding-right: 0px!important;}
    .course-listing {margin-top: 0px;}
    
}
